@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">Mattia Di Majo</h1>
<p></p>
<p>Welcome to my space</p>
<p></p>
<p>Why not checking my <a href="https://www.linkedin.com/in/mattia-di-majo-469992129/">LinkedIn</a> profile.</p>
</div>
